{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="resume_boot.css"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'resume_boot.css' %}" />

</head>
<body>
    <div class="container my-5">
        <h1 class="text-left gy-4">This section comes from <b>Database</b></h1>
        <h2 class="text-center mb-3">My <b>Resume</b></h2>
        <div class="row">
            <div class="col-6"><h3 class="text-left my-3">Education</h3></div>
            <div class="col-6"><h3 class="text-left my-3">Experience</h3></div>
            <div class="col-6">
                {% for value in education %}
                <div class="row mb-4 mt-4">
                    <p>{{value.duration}}</p>
                    <h3>{{value.institute}}</h3>
                    <h5>{{value.tagline}}</h5>
                    <h4>{{value.address}}</h4>
                </div>
                {% endfor %}
            </div>

            <div class="col-6">
                {% for value in experience %}
                <div class="row mb-4 mt-4">
                    <p>{{value.duration}}</p>
                    <h3>{{value.post}}</h3>
                    <h5>{{value.experience}}</h5>
                    <h4>{{value.address}}</h4>
                </div>
                {%endfor%}
    
            </div>

        </div>
    </div>


    <div class="container gy-5">
        <h3 class="text-center mb-3 my-5">Wanna <b>Start Work</b> With Me?</h3>
        <div class="row">
            <div class="col-7">
                <div class="user_input">
                    <h3 class="text-left my-4">Information Please</h3>
                    <div class="mb-3">
                        <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Your Name">
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your Email">
                    </div>
                    <div class="mb-3">
                        <input type="phone" class="form-control" id="exampleFormControlInput1" placeholder="Your Phone">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"
                            placeholder="Write a Message"></textarea>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="contact">
                    <h3 class="text-left my-4">My Contact Details</h3>
                    {% for value in contact_details %}
                    <div>
                        <p>EMAIL</p>
                        <p id="cont5">{{value.email}}</p>
                        <p>PHONE</p>
                        <p id="cont5">{{value.phone}}</p>
                        <p>ADDRESS</p>
                        <p id="cont5">{{value.address|linebreaks}}</p>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
        


        <a href={%url 'another_page' %}>Go to another page</a><br>

        <a href={%url 'dbData' %}>Go to dbData page</a> <br>
    </div>
</body>
</html>